<!-- prompt-bedrock.component.html -->
<h1>Prompt Bedrock Here:</h1>
<div>
    <p>{{ current_question }}</p>
    <!-- KRISTIAN_TODO - Is this right?  How to submit as a button?-->
    <form (ngSubmit)="solicit_feedback_for_response()">
        <input name="prompt" [(ngModel)]="user_response"/>
    </form>
</div>
<div>
    <p>{{ feedback }}</p>
    <button mat-button (click)="pose_question_based_on_topic()">Request Follow-Up Question</button>
    <button mat-button (click)="request_another_topic ()">Go Back and Change Topic</button>
</div>
