body {
    margin: 0px 50px;
    background: linear-gradient(180deg, rgb(117, 81, 194), rgb(255, 255, 255));
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    height: 100vh;
}
